.vscode/**
.vscode-test/**
.github/**
debug/
orig/
!out/zscript.js
!out/zscript.js.map
# out/
src/

.gitignore
.gitattributes
vsc-extension-quickstart.md
*.vsix

client/
server/
zslib/
node_modules
.local/
build.js
debug.md
tsconfig.json
sampleWorkspace/.zs-cache/
